<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Online Store{% endblock %}</title>

    {% block meta %}{% endblock %}
    <meta name="author" content="MPU ISP Group25">

    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block external_mods %}{% endblock %}
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
        .nav-link:hover {
            color: unset;
        }
        .nav-link:focus {
            color: unset;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">Online Store</h1>
            <nav class="nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/products/" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="39" viewBox="0 0 43 39" fill="none" style="width: 43px; height: 39px; flex-shrink: 0; vertical-align: middle; margin-right: 4px;">
                        <path d="M19.7083 35.3113C20.2531 35.5966 20.871 35.7468 21.5 35.7468C22.129 35.7468 22.7469 35.5966 23.2917 35.3113L35.8333 28.8113C36.3775 28.5264 36.8295 28.1166 37.144 27.6232C37.4585 27.1298 37.6244 26.57 37.625 26.0001V13.0001C37.6244 12.4302 37.4585 11.8704 37.144 11.377C36.8295 10.8835 36.3775 10.4738 35.8333 10.1888L23.2917 3.68884C22.7469 3.40359 22.129 3.25342 21.5 3.25342C20.871 3.25342 20.2531 3.40359 19.7083 3.68884L7.16667 10.1888C6.62247 10.4738 6.17046 10.8835 5.85599 11.377C5.54152 11.8704 5.37564 12.4302 5.375 13.0001V26.0001C5.37564 26.57 5.54152 27.1298 5.85599 27.6232C6.17046 28.1166 6.62247 28.5264 7.16667 28.8113L19.7083 35.3113Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.5 35.75V19.5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.89453 11.375L21.4999 19.5L37.1054 11.375" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.4375 6.93872L29.5625 15.3075" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Products
                </a>
                {% if user.is_authenticated %}
                    {% if is_vendor or user.is_staff or user.is_superuser %}
                    <a href="{% url 'vendor:home' %}" class="nav-link">My Products</a>
                    {% endif %}
                    {% if not is_vendor and not user.is_staff and not user.is_superuser %}
                    <a href="/cart/" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" style="width: 20px; height: 20px; flex-shrink: 0; vertical-align: middle; margin-right: 4px;">
                            <g clip-path="url(#clip0_1_212)">
                                <path d="M6.66665 18.3333C7.12688 18.3333 7.49998 17.9602 7.49998 17.5C7.49998 17.0398 7.12688 16.6667 6.66665 16.6667C6.20641 16.6667 5.83331 17.0398 5.83331 17.5C5.83331 17.9602 6.20641 18.3333 6.66665 18.3333Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.8333 18.3333C16.2936 18.3333 16.6667 17.9602 16.6667 17.5C16.6667 17.0398 16.2936 16.6667 15.8333 16.6667C15.3731 16.6667 15 17.0398 15 17.5C15 17.9602 15.3731 18.3333 15.8333 18.3333Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.70831 1.70834H3.37498L5.59165 12.0583C5.67296 12.4374 5.88387 12.7762 6.18807 13.0166C6.49227 13.2569 6.87073 13.3836 7.25831 13.375H15.4083C15.7876 13.3744 16.1554 13.2444 16.4508 13.0065C16.7463 12.7687 16.9518 12.4371 17.0333 12.0667L18.4083 5.875H4.26665" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1_212">
                                    <rect width="20" height="20" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        Cart
                    </a>
                    {% endif %}
                    <a href="{% if is_vendor or user.is_staff or user.is_superuser %}{% url 'vendor:order_list' %}{% else %}{% url 'shopping:order_list' %}{% endif %}" class="nav-link">Orders</a>
                    <a href="{% url 'user:detail' %}" class="nav-link">Account</a>
                    <span class="nav-user">Welcome, {{ user.username }}</span>
                    <form method="post" action="{% url 'user:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button class="nav-link btn">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'user:login' %}" class="nav-link">Login</a>
                    <a href="{% url 'user:signup' %}" class="nav-link">Sign Up</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            {% block content %}{% endblock %}

            {% if errors %}
            
            <div class="modal-content" onclick="event.stopPropagation()">
                <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
                <h3 class="text-danger">Error</h3>
                <div class="error-list">
                        {% for k, v in errors.items %}
                            <p><strong>{{ k }}：</strong></p>
                            <ul>
                                {% for err in v %}
                                    <li>{{ err.message|default:err }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                </div>
            </div>
            
            {% endif %}

            
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2026 MPU Online Store</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // Global Axios Configuration
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
